@media screen and (max-width:1200px){
    #header .row .col-7 nav {
        margin-left: 80px;
    }
    #header .row .col-3 .btn {
        margin-left: -10%;
        margin-top: -5px;
    }
    #header .row .col-3 .sc-icon ul li {
        margin-left: 9px;
    }
    #hero .content {
        margin-left: 0px;
    }
    #appointment .row .col-2 form .btn-2 {
        margin-left: 13px;
        padding: 12px 140px;
    }
    #choose .row .col-2 .img-container img {
        width: 525px;
    }
    #today .row .col-2 {
        flex-basis: 60%;
    }
    #today .row .col-2 {
        padding-top: 29px;
    }
    #today .row .col-3 {
        padding-top: 29px;
    }
    #discount {
        height: 120vh;
    }
    #discount .extra_content {
        margin-left: 53%;
        
    }
    #discount .extra_content {
        padding-bottom: 40px;
    }
    #newsletter .content {
        margin-left: 13%;
    }
}




@media screen and (max-width:1199px){
    #header .row .col-3 .btn {
        display: none;
    }
    #header .row .col-3 .sc-icon ul li {
        margin-left: 49px;
    }
    #service .row .col-3 {
        flex-basis: 48%;
    }
}


@media screen and (max-width:992px){
    #header .row .col-7 nav ul li {
        margin-right: 17px;
    }
    #header .row .col-3 .sc-icon ul li {
        margin-left: 22px;
    }
    #header .row .col-3 .btn {
        display: none;
    }
    #hero {
        height: 152vh;
    }
    #hero .content {
        margin-top: 30%;
        margin-left: 0px;
    }
    #appointment .row .col-2 .content {
        margin-top: -4%;
    }
    #appointment .row .col-2 form input {
        padding: 20px 18px;
    }
    #appointment .row .col-2 form .btn-2 {
        padding: 12px 92px;
    }
    #choose .row .col-2 {
        flex-basis: 100%;
    }
    #choose .row .col-2 .img-container {
        margin-left: 10%;
    }
    #choose .row .col-3 {
        flex-basis: 100%;
    }
    #choose .row .col-3 .content {
        margin-left: 5%;
        margin-top: 10px;
    }
    #choose .row .col-3 .content .sc-content h2 {
        margin-bottom: -1px;
    }
    #today .row .col-2 .content h2 {
        font-size: 1.7em;;
    }
    #service .row .col-3 .content p {
        font-size: 13px;
    }
    #discount .extra_content {
        padding-bottom: 40px;
    }
    #discount .extra_content {
        margin-left: 40%;
        
    }
    #newsletter .content {
        margin-left: 13%;
    }
    #newsletter .content input {
        width: 500px;
    }
}


@media screen and (max-width:991px){
    #header .row .col-7 nav {
        display: none;
    }
    #header .row .col-3 .btn {
        display: none;
    }
    #header .row .col-3 .sc-icon ul li {
        display: none;
    }
    #header .menu {

        margin-right: 50px;
        display: block;
    }
    #appointment .row .col-2 {
        flex-basis: 75%;
        margin-left: 100px;
    }
    #appointment .row .col-2 .row-2 {
        margin-bottom: 18%;
    }
    #appointment .row .col-2 form input {
        padding: 20px 69px;
    }
    #appointment .row .col-2 form .btn-2 {
        padding: 12px 210px;
    }
    #appointment .row .col-2 {
        flex-basis: 100%;
        margin-left: 0px;
    }
    #today {
        height: auto;
    }
    #today .row .col-2 {
        flex-basis: 100%;
    }
    #today .row .col-3 .btn {
        margin-bottom: 40px;
    }
    #choose .row .col-3 {
        margin-bottom: 40px;
    }
    #service .row .col-3 .content p {
        font-size: 13px;
    }
    #footer .row .col-4 {
        flex-basis: 100%;
        margin-top: 50px;
    }
}

@media screen and (max-width:806px){
    #newsletter .content {
        margin-left: 3%;
    }
}


@media screen and (max-width:768px){
    #discount .extra_content {
        margin-left: 19%;
        width: 450px;
    }
    #newsletter .content {
        margin-left: 10%;
    }
    #newsletter .content input {
        width: 330px;
    }
}



@media screen and (max-width:698px) {
    #appointment .row .col-2 .row-2 .col-3 {
        flex-basis: 100%;
        margin-top: 60px;
    }
    #appointment .row .col-2 form input {
        padding: 20px 55px;
    }
    #appointment .row .col-2 form .btn-2 {
        padding: 19px 153px;
    }
}


@media screen and (max-width:576px) {
    #hero .content {
        margin-left: 7px;
    }
    #hero .content {
        width: 450px;
    }
    #hero .content h2 {
        font-size: 46px;
    }
    #hero .content .btn-2 {
        padding: 15px 25px;
    }
    #appointment .row .col-2 form input {
        padding: 16px 22px;
    }
    #appointment .row .col-2 form .btn-2 {
        padding: 19px 91px;
    }
    #choose .row .col-3 .content p {
        width: 507px;
    }
    #service .row .col-3 {
        flex-basis: 100%;
    }
    #discount .extra_content {
        margin-left: 6%;
        width: 450px;
    }
    #newsletter .content h4 {
        font-size: 5vw;
    }
    #newsletter .content {
        margin-left: 0%;
    }
    #newsletter .content input {
        width: 256px;
        margin-left: 0%;
    }
}

@media screen and (max-width:488px) {
    #hero {
        height: 75vh;
    }
    #hero .content {
        margin-top: 0%;
    }
    #appointment .row .col-2 form input {
        padding: 16px 4px;
    }
    #appointment .row .col-2 form .btn-2 {
        padding: 19px 63px;
    }
    #choose .row .col-2 .img-container {
        margin-left: -10%;
    }
    #choose .row .col-3 .content p {
        width: 367px;
    }
    #choose .row .col-3 .content .sc-content {
        margin-left: 75px;
    }
    #choose .row .col-3 .content p {
        font-size: 12px;
    }
    #discount .extra_content {
        margin-left: -2%;
    }
    #newsletter .content button {
        padding: 11px 20px;

    }
    #newsletter .content input {
        padding: 9px;
        width: 225px;
    }
}
@media screen and (max-width:420px){
    #hero {
        height: 64vh;
    }
    #hero .content {
        margin-top: 8%;

    }
    #hero .content {
        width: 362px;
    }
    #hero .content {
        margin-left: -2px;
    }
    #hero .content h4 {
        font-size: 16px;
        letter-spacing: 0px;
        margin-bottom: 3px;
    }
    #hero .content h2 {
        font-size: 31px;
        letter-spacing: 2px;
        margin-bottom: 3px;
    }
    #hero .content .btn-1 {
        padding: 10px 18px;
        font-size: 13px;
    }
    #hero .content .btn-2 {
        padding: 10px 18px;
        font-size: 13px;
    }
    #choose .row .col-3 .content p {
        font-size: 10px;
    }
    #today .row .col-2 .content h2 {
        font-size: 1.5em;
    }
    #today {
        margin-top: 1px;
    }
    #service .service-content h2 {
        font-size: 10vw;
    }
    #service .row .col-3 .content p {
        font-size: 12px;
    }
    #discount .extra_content {
        margin-left: -2%;
        width: 376px;
    }
    #newsletter .content button {
        width: 140px;
    }
    #newsletter .content input {
        width: 180px;
    }
    #newsletter .content {
        margin-left: 4%;
        margin-top: 60px;
    }
}
@media screen and (max-width:320px){
    #hero .content h2 {
        font-size: 25px;
    }
    #hero .content {
        width: 306px;
    }
    #appointment .row .col-2 form input {
        padding: 16px 50px;
    }
    #appointment .row .col-2 form .content-form h2 {
        margin-left: 11px;
    }
    #appointment .row .col-2 form .btn-2 {
        padding: 19px 20px;
    }
    #choose .row .col-2 .img-container img {
        width: 445px;
        height: 438px;
    }
    #choose .row .col-2 .img-container {
        margin-left: -20%;
    }
    #choose .row .col-3 .content h1 {
        font-size: 1.8em;
    }
    #choose .row .col-3 .content .sc-content h2 {
        font-size: 14px;
    }
    #choose .row .col-3 .content p {
        width: 250px;
    }
    #today .row .col-2 .content h2 {
        font-size: 1.3em;
    }
    #today .row .col-3 .btn {
        width: 296px;
        font-size: 21px;
    }
    #discount .extra_content {
        margin-left: -2%;
        width: 300px;
    }
    #discount .extra_content h2 {
        font-size: 59px;
    }
    #newsletter .content {
        margin-left: 0%;
        margin-top: 60px;
    }
    #newsletter .content h4 {
        font-size: 6vw;
        margin-left: -26px;
    }
}

